services:
  mysql:
    image: mysql:8.1
    container_name: ecommerce-api-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ecommercedb
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:7.2
    container_name: ecommerce-api-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    # Redis 기본 설정으로 실행
    # 기록 옵션은 선택적, 운영에서는 --appendonly yes 추천
    # command: ["redis-server", "--appendonly", "yes"]

# 재구동 시 설정값 초기화되는 이슈로 로컬 설치로 변경
#  redis-insight:
#    image: redis/redisinsight:latest
#    container_name: ecommerce-api-redis-insight
#    ports:
#      - "5540:5540"
#    depends_on:
#      - redis
#    volumes:
#      - redis-insight-data:/db

volumes:
  mysql-data:
  redis-data:
  # redis-insight-data: